/* page 1 */

* {
  margin-right: 0px;
  padding: 0px;
  background-color: transparent;
  font-family: sans-serif;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(hero-image.png);
  background-size: cover;
}

.navbar {
  width: 90%;
  margin-left: 7%;
  padding: 30px 0;
  word-spacing: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .dropdown-item{
  width: 10px;
  color: black;
  background-color: aqua;

} */
.dropdown{
  display: none;
}

.dropdown ul li{
  color: red;
  background-color: #666666;
  
  display: list-item;
}

.logo {
  width: 50px;
  height: 50px;
  margin-left: 0%;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 30px 20px;
  position: relative;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.navbar ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: red;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}

.navbar ul li:hover::after {
  width: 100%;
}

.content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-20%);
  text-align: center;
  color: white;
}

.content h1 {
  font-size: 50px;
  font-weight: 1000;
}

button {
  width: 160px;
  margin-right: 170px;
  border: 0;
  padding: 10px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(#fb5283, #ff3527);
  border-radius: 10px;
  cursor: pointer;
}

/* page 2 */

.page-2 {
  background-image: url(h2-background-img-3.jpg);

  width: auto;
  height: 628px;
}
.page-2-img {
  display: flex;
  justify-content: center;
}
.img-1 {
  background-color: transparent;
  width: 25%;
  text-align: center;
  color: white;
}
.img-2 {
  background-color: transparent;
  width: 25%;
  text-align: center;
  color: white;
}
.img-3 {
  background-color: transparent;
  width: 25%;
  text-align: center;
  color: white;
}
.img-4 {
  background-color: transparent;
  width: 25%;
  text-align: center;
  color: white;
}

/* people img page */

.two-section-parent {
  display: flex;
  height: 620px;
  width: 100%;
}
.four-people {
  background-image: url(h2-img-2.jpg);
  background-position: center;
  width: 50%;
  height: 100%;
}
.text-4-people {
  width: 50%;
  height: 100%;
  background-color: #1a1a1a;
  color: #f2f2f2;
}

/* user reviews page */
.user-reviews-page {
  height: 500px;
  width: 100%;
  background-color: #262626;
  color: #f2f2f2;
  display: grid;
  grid-template-columns: 15% 70% 15%;
}
.carousel-left {
  background-color: #262626;
}
.carousel-right {
  background-color: #262626;
}

/* robot cave page */

.robot-cav {
  height: 600px;
  width: 100%;
  background-image: url(robot-cave.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #f2f2f2;
  display: grid;
  grid-template-columns: 50% 50%;
}
.robot-img {
  background-image: url(h2-img-3.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.robot-text {
  background-color: transparent;
}
.h {
  color: #f2f2f2;
  width: 30%;
  height: 50px;
  /* line-height: 100px; */
  margin-left: 10%;
  /* box-shadow: 100% 100% 100% 100%; */
  border-color: aliceblue;
}

/* extra changes made */
.line1 {
  color: #f2f2f2;
  width: 30%;
  height: 50px;
  /* line-height: 100px; */
  margin-left: 10%;
  /* box-shadow: 100% 100% 100% 100%; */
  border-color: aliceblue;
}
/* extra changes made */


/* video page */

.video-page {
  background-color: gray;
  display: flex;
  background-image: url(h2-background-img-3.jpg);

  background-position-x: center;
  background-repeat: repeat-y;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 600px;
  justify-content: center;
}
.video-img {
  /* background-color: aqua; */
  background-image: url(video-img-btn.png);
  background-size: cover;

  width: 50%;
  /* justify-content: center; */
  height: 50%;
  margin-top: 10%;
}

/* last-page */

.footer {
  background-image: url(black-white-dots.jpg);
  height: 350px;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.footer-nav {
  color: #f2f2f2;
  list-style-type: none;
  font-weight: 1000;
  /* display: block; */
}
.footer-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.footer-nav ul li {
  list-style: none;
  display: inline-block;
  margin-top: 100px;
  margin-left: 90px;

  /* text-align: center; */
  position: relative;
}
.footer-nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: 900;
  text-transform: uppercase;
}

.footer-content {
  color: white;
  text-align: center;
}

.right-grad {
  background-color: transparent;
}
.left-grad {
  background-color: transparent;
}

/* .trapezium {
  position: relative;
  left: 20%;
  top: 60%;
  transform: translate (-50%, -50%);
  width: 100px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid green;
  text-align: center;
} */

@media screen and (max-width: 825px) {


  html,body{
    overflow-x: hidden;
    
  }
  * {
    margin: 0;
    padding: 0;
  }
  .banner {
    display: flex;
    flex-direction: column;
    background-image: url(hero-image.png);

    width: 100%;
    background-size: cover;
  }
  .navbar {
    width: 100%;
    margin: 0;
    padding: 0%;
    background-position: left;
    background-color: #1a1a1a;
    text-align: center;
  }

  .navbar ul li {
    display: none;
  }

  


  .logo {
    margin-left: 45%;
    height: 30px;
  }
  .content h1 {
    /* display: flex;
    flex-direction: column; */
    width: auto;
    font-size: 30px;

    background-position: center;
    background-size: auto;
  }

  /* 
  page-2 */

  /* .page-2-content {
    width: 100%;
    height: 100%;
  } */
  .page-2 {
    background-image: radial-gradient(#666666, black);
    width: 100%;
    height:auto;
  }

  .page-2-img {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-row-gap: 90px;
  }
  .page-2-content h {
    display: none;
  }
  .img-1 {
    background-color: transparent;
    width: 100%;
    align-items: center;
    text-align: center;
    color: white;
  }
  .img-2 {
    align-items: center;
    background-color:transparent;
    width: 100%;
    text-align: center;
    color: white;
  }
  .img-3 {
    background-color: transparent;
    width: 100%;
    text-align: center;
    color: white;
  }
  .img-4 {
    background-color: transparent;
    width: 100%;
    text-align: center;
    color: white;
  }

  /* people image page */

  .two-section-parent {
    display: flex;
    flex-direction: column;
    height: 800px;
    width: 100%;
  }
  .four-people {
    background-image: url(h2-img-2.jpg);
    background-size: contain;
    background-size: cover;
    width: 100%;
    height: 250px;
  }
  .text-4-people {
    width: 100%;
    height: 600px;
    background-color: #1a1a1a;
    color: #f2f2f2;
  }

  /* user reviews page */
  .user-reviews-page {
    height: 700px;
    width: 100%;
    background-image: linear-gradient(#333333, #262626);
    color: #f2f2f2;
    display: grid;
    grid-template-columns: 100%;
  }
  .carousel-left {
    display: none;
    background-color: #1a1a1a;
  }
  .carousel-right {
    display: none;
    background-color: #1a1a1a;
  }

  /* robot-cave paqe */

  .robot-cav {
    height: 1000px;
    width: 100%;
    background-color: #1a1a1a;
    background-repeat: no-repeat;
    background-size: cover;
    color: #f2f2f2;
    display: flex;
    /* grid-template-rows: 50% 50%; */
    flex-direction: column-reverse;
  }
  .robot-img {
    width: 100%;
    height: 300px;
    background-image: url(h2-img-3.png);
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #1a1a1a;
  }
  .robot-text {
    width: 100%;
    height: 700px;
    background-color: #1a1a1a;
  }

  /* video page */

  .video-page {
    background-color: gray;
    display: flex;
    background-image: url(h2-background-img-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 100%;
    height: 200px;
    justify-content: center;
  }
  .video-img {
    background-image: url(video-img-btn.png);
    background-size: contain;
    /* change made */
    /* background-repeat: no-repeat; */  

    width: 50%;

    height: 50%;
    margin-top: 10%;
  }

  /* last-page */

  .footer {
    background-image: url(black-white-dots.jpg);
    height: 350px;
    display: grid;
    grid-template-columns: 10% 80% 10%;
  }
  .footer-nav {
    color: #f2f2f2;
    list-style-type: none;
    font-weight: 1000;
    display: block;
  }
  .footer-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
  }
  .footer-nav ul li {
    list-style: none;
    display: inline-block;
    text-align: justify;
    margin-top: 30px;
    margin-left: 20px;

    position: relative;
  }
  .footer-nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
  }
  .footer-content h {
    display: none;
  }

  .right-grad {
    background-color: transparent;
    display: none;
  }
  .left-grad {
    background-color: transparent;
  }

  .footer-content {
    color: white;
    text-align: center;
  }
  /* .hnew {
    color: #f2f2f2;
    width: 30%;
    height: 40px;
    
    margin-left: 10%;
   
    border-color: aliceblue;
    
  } */
  
  /* extra changes made */
  .line1{
    display: none;
  }
  .dropdown{
    display: list-item;
    /* width: fit-content; */
    /* background-color: black; */
    /* color: white;  */
  }
  .dropdown ul li{
    color: green;
    display: list-item;
  }
  /* .dropdown-menu{
    display: list-item;
    
  } */

}